{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "@styles": "./src/assets/styles/"
                }
            }
        ]
    ]
}